<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog " >
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title text-center" id=" ">Iniciar sesion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-inline">
          <label>Usuario</label>
          <input class="form-control" type="text" name="" id="">
        </div>
        <br>
        <div class="form-inline">
          <label>Contraseña</label>
          <input class="form-control" type="password" name="" id="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-block" [routerLink]="['/veterinaria']">Iniciar</button>
      </div>
    </div>
  </div>
</div>