.card{
    border: none;
    width: 100%;
    .card-header{
        background-color: darkcyan;
    }
}
#bar{
    max-height: 400px!important;
    max-width: 1050px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
