<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="message">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card">
    <div class="card-header text-white">
        <h4 class="text-center">Cantidad de visitas de clientes clasificado por meses</h4>
    </div>
    <div class="card-body">
        <ng-template *ngIf="graph">
            
        </ng-template>
        <canvas id="bar"></canvas>
    </div>
</div>