.alert{
    margin: 1em 0!important;
    box-shadow: 0 0 1em black;
}
.card{
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px #444444;
    .card-header{
        background-color: darkcyan;
        border-radius: 10px 10px 0 0;
    }
    .card-body{
        form{
            width: 90%;
            .form-group label{
                font-size: 20px;
            }
        } 
    }
}

.form-control, .form-select{
    color: #000000;
    font-size: 20px;
    border-color: #17a2b8;
    &:focus {
        background-color: white;
        box-shadow: 0 0 0 0.2rem #17a2b8;
        transition: 0.5s;
    }
}

.btn-cyan{
    font-size: 20px;
    width: 270px;
    box-shadow: 0 1px 2px #444444;
    &:hover{
        transform: translateY(-2px);
    }   
}
@media screen and (min-width: 750px){

}