.detailsMacot{
    display: block;
}
.mascotadetails, .mascota{
    width: 100%;
}

.modalEdit, .modalDelete{
    background-color: rgba(0, 0, 0, 0.85);
    .modal-dialog .modal-content{
        .modal-header{
            color: black;
        }
        .modal-body{
            padding: 0% 1rem;
        }
    }
}
.modalEdit .modal-dialog .modal-content .modal-header{
    background-color: #643e05;
    color: white;
}
.btn{
    width: 150px;
    &:hover{
        //text-decoration: underline;
        transform: translateY(-5px);
        transition: 200ms ease-in-out;
    }
}
label{
    font-size: 18px;
    color: #181818;
}

.form-control{
    color: #643e05;
    border-color: #643e05;
    font-size: 20px;
    &:focus {
        background-color: white;
        box-shadow: 0 0 0 0.1rem #885a15;
        transition: 0.2s;
    }
}
@media screen and (min-width: 950px){
    .detailsMacot{
        display: grid;
        grid-template-columns: 5fr 4fr;
    }
    .mascotadetails{
        padding-left: 1rem;
    }
    .mascota{
        padding-right: 1rem;
    }
}