#pie{
    height: 100%;
    width: 100%;
}
.card{
    border: none;
    width: 100%;
    position: relative;
    .card-body{
        overflow-x: auto;
        display: flex;
        .list, .pastel{
            width: 50%;
        }
        .pastel div .p1{
            background-color: rgba(180, 100, 10, 1);
            color: #fff;
        }
        .pastel div .p2{
            background-color: rgba(100, 50, 140, 1);
            color: #fff;
        }
    }
}
.table{
    min-width: 350px;
    max-width: 100%;
} 
@media only screen and (max-width: 800px){
    .card{
        .card-body{
            padding: 1%;
            display: block;
            .list, .pastel{
                width: 100%;
                margin-bottom: 5em;
            }
        }
    }
}