<div class="card">
  <div class="card-header bg-dark text-white">
    <h4 class="text-center">Reporte del dia de hoy</h4>
  </div>
  <div class="card-body">
      <div class="list">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Hora</th>
              <th>Motivo</th>
              <th>Cliente</th>
              <th>Ingreso</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of datosHoy.ventasHoy.ventasHoy; index as i">
              <td>{{datosHoy.ventasHoy.HorasVenta[i]}}</td>
              <td>Venta</td>
              <td>{{ venta.cliente.Nombres}}</td>
              <td>S/ .{{ venta.Total}}</td>
            </tr>
            <tr *ngFor="let visita of datosHoy.visitasHoy.visitasHoy; index as i">
              <td>{{datosHoy.visitasHoy.HorasVisita[i]}}</td>
              <td>Visita</td>
              <td>{{ visita.cliente.Nombres}}</td>
              <td>S/. {{ visita.Costo}}</td>
            </tr>
          </tbody>
        </table>
        <span class="float-right">Total ingreso: S/. {{ datosHoy.ventasHoy.totalVentas + datosHoy.visitasHoy.totalVisitas }}</span>
      </div>
      <div class="pastel my-auto">
        <canvas id="pie"></canvas>
        <div class="d-flex justify-content-around">
          <p class="p1 px-1">ventas: S/.{{ datosHoy.ventasHoy.totalVentas }} </p>
          <p class="p2 px-1">visitas: S/.{{ datosHoy.visitasHoy.totalVisitas }}</p>
        </div>
      </div>
  </div>
</div>