<app-message *ngIf="message" [messageDate]="message"></app-message>

<div class="card h-100">
    <div class="card-header text-white text-center">
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body">
        <form class="mx-auto" [formGroup]='createdForm' (ngSubmit)="created()">
            <div class="form-group my-3">
                <label>Nombres</label>
                <input type="text" class="form-control" style="text-transform: capitalize;" formControlName="Nombres">
            </div>
            <div class="form-group my-3">
                <label>Apellidos</label>
                <input type="text" class="form-control text" formControlName="Apellidos">
            </div>
            <div class="row my-3">
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>E-mail</label>
                        <input type="email" class="form-control" formControlName="Email">
                    </div>
                    <!-- Content -->
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Celular</label>
                        <input type="text" class="form-control" formControlName="Celular" maxlength="9">
                    </div>
                </div>
            </div>
            <div class="form-group my-3">
                <label>Direccion</label>
                <input type="text" class="form-control" formControlName="Direccion">
            </div>
            <br>
            <div class="d-flex">
                <button [disabled]="createdForm.invalid" type="submit" class="btn btn-cyan mx-auto">Guardar</button>
            </div>
        </form>
    </div>
</div>
