.sidenav {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    background: rgb(0,74,109);
    background: linear-gradient(0deg, rgba(0,74,109,1) 26%, rgba(5,48,74,1) 52%, rgba(1,69,88,1) 77%);

    padding: 10px 0px 3rem 0px;
    contain: content;
    height: 95%;
    overflow-y: auto;
    top: 55px;
    left: 0;
    box-shadow: 0.1rem 0.1rem 0.1rem #0000006b;
}
::-webkit-scrollbar {
    display: none;
}
.nav-item{
    display: flex;
    align-items: center;
    color: cyan;
    padding: 0;
    min-height: 3.5rem;
    border-top: 1px solid #0e4c8610;
    border-radius: 10px;
    &.active{
        background-color: #fff;
        .nav-link{
            color: #000;
            label{
                margin-left: 1rem;
            }
            i{
                transform: scale3d(1.3,1.3,1.3);
            }
        }
    }
    &:hover, a:hover{
        //color: rgb(0, 17, 255);
        background-color:rgb(6, 149, 185);
        //border-radius: 5px;
        //border-top-left-radius: 15px;
        //border-bottom-left-radius: 15px;
        label,span{
            color: white;
            transition: 0.2s;
            cursor: pointer;
        }
    }
    &:focus{
        outline: none;
    }
    .nav-link{
        display: flex;
        color: cyan;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0%;
    } 
}
//trasladar y mostrar nombre de la lista de links
.show-label,.show-logo{
    transition: 0.5s;
    will-change: scroll-position;//Le dice al navegador que optimice la posición de desplazamiento del elemento, 
                                //ya que podría cambiar en el futuro.
}
.hidden-label{
    position: absolute;
    z-index: 1;
    transform: translateX(-180%);
    transition: 0.4s;
}

.hidden-logo{
    transform: translateX(-15rem);
    transition: 0.4s;
}

.icon-rotate{
    transform: rotateZ(90deg);
    transition: 0.4s;
}


.drop{
    padding: 14px 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

label{
    font-size: 18px;
    text-transform: uppercase;
}

.dropdown{
    padding-left: 1.5em;
    background: linear-gradient(45deg,black, transparent);
    overflow: hidden;
}
.dropdown-hidden{
    height: 0px;
    transition: 1s ease-in-out;;
}
.dropdown-show{
    height: 100%;
    transition: 1s ease-in-out;;
}

span{
    min-width: 240px;
}
/* dropdown 1*/
.show-dropdown1,.show-dropdown2{
    display: block;
}
.hidden-dropdown1, .hidden-dropdown2{
    display: none;
    transition: .3s;
}


