.sidenav {
    position: fixed;
    cursor: pointer;
    //background-image: -webkit-gradient(linear, left bottom, left top, from(#1e274100), color-stop(30%, #1e2741d7), to(#1e2741));
    background-color: #1e2741!important;
    padding: 10px 0px 3rem 0px;
    contain: content;
    height: 95%;
    overflow-y: auto;
    top: 55px;
    left: 0;
    box-shadow: 0.3rem 0.3rem 0.3rem #0000006b;
}
::-webkit-scrollbar {
    width: 6px;     /* Tamaño del scroll en vertical */    /* Tamaño del scroll en horizontal */  /* Ocultar scroll */
}

.nav-item{
    display: flex;
    align-items: center;
    color: cyan;
    padding: 0;
    min-height: 4rem;
    border-top: 1px solid #0e4c8610;
    &.active{
        background-color: #264192;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        .nav-link{
            color: #ffffff;
            label{
                margin-left: 1rem;
                -webkit-text-stroke-width: thin;
                border-bottom: 1px solid white;
            }
            i{
                transform: scale3d(1.3,1.3,1.3);
            }
        }
    }
    &:hover, a:hover{
        color: rgb(255, 123, 0);
        background-color: #4b62a5;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        label,span{
            color: white;
            transition: 0.2s;
            cursor: pointer;
        }
        i{
            transform: scale3d(1.3,1.3,1.3);
            transition: 0.5 ease-in-out;
        }
    }
    &:focus{
        outline: none;
    }
    .nav-link{
        display: flex;
        color: cyan;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0%;
    } 
}

.show-label{
    transition: 0.5s;
    will-change: transform;
}
.icon-rotate{
    transform: rotateZ(90deg);
    transition: 0.4s;
}
.hidden-label{
    transform: translateX(-180%);
    transition: 0.4s;
    will-change: transform;
}

.drop{
    padding: 14px 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    user-select: none;
}

label{
    font-size: 18px;
    text-transform: uppercase;
}

.dropdown{
    padding-left: 2em;
    background: linear-gradient(45deg,black, transparent);
    overflow: hidden;
}

span{
    min-width: 240px;
}
/* dropdown 1*/
.show-dropdown1,.show-dropdown2{
    display: block;
}
.hidden-dropdown1, .hidden-dropdown2{
    display: none;
    transition: .3s;
}


