.card{
    width: 100%;
    box-shadow: 0 1px 2px #444444;
    border-radius: 10px;
    .card-header{
        background-color: #48515a!important;
        color: white;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }
    .card-body{
        overflow-x: auto;
    }
}
table{
    min-width: 500px;
}
::-webkit-scrollbar {     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */  /* Ocultar scroll */
}
.btn-cyan{
    background-color: darkcyan;
    color: #ffffff;
}
p{
    display: flex;
    align-items: center;
}

.search{
    width: 100%;
}

@media screen and (min-width: 992px){
    .content{
        display: flex;
    }
    .search{
        min-width: 280px;
        width: 280px;
        margin-right: 4px;
        
    }
}