<app-message *ngIf="message" [messageDate]="messageDate"></app-message>
<button class="btn btn-primary my-1" (click)="handlefuntion()">{{texto}} cuadro de busqueda</button>
<div class="content">
  <div class="search" *ngIf="openClose" @search>
    <app-buscarmascota (nameMascot)="nameMascot($event)"></app-buscarmascota>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Especie</th>
            <th>Sexo</th>
            <th>Opcion</th>
          </tr>
        </thead>
        <tbody #listMascot>
          <tr *ngFor='let mascota of  mascotas; index as i'>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ mascota.Nombres}}</td>
            <td>{{ mascota.Especie}}</td>
            <td>{{ mascota.Sexo}}</td>
            <td>
              <div class="d-flex">
                <button type="submit" class="btn btn-dark" [routerLink]="['./', mascota.id]">Ver detalles</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      footer
    </div>
  </div>

</div>