<div class="card h-100">
    <div class="card-header text-white text-center">
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body p-0">
        <div class="container py-4">
            <div class="form-group">
                <label>Proveedor</label>
                <select name="" id="" class="form-select" (change)="selectCategoria($event)">
                    <option value="" selected disabled>Seleccione un proveedor</option>
                    <option *ngFor="let categoria of categorias; index as i" [value]="i">
                        {{ categoria.Nombre }}
                    </option>
                </select>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Codigo</th>
                    <th>P. de venta</th>
                    <th>Stock</th>
                    <th>Proveedor</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let articulo of articulos; index as i'>
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ articulo.Nombre }}</td>
                    <td>{{ articulo.Codigo }}</td>
                    <td>{{ articulo.Particulo }}</td>
                    <td>{{ articulo.Stock }}</td>
                    <td>{{ articulo.proveedor.Nombre }}</td>
                    <td>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-dark">Ver detalles</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>