//class="bg-dark" style="margin-top:55px;min-height:680px"
.index{
    margin-top: 55px;
    height: 100%;
    width: 100%;
}

.main{
    padding: 10px;
}


@media screen and (min-width: 1200px){
    .main{
        margin-right: 25px;
    }
}