.alert{
    margin: 1em 0!important;
    box-shadow: 0 0 1em black;
}

.index{
    padding-left: 50px;
}

.main{
    margin-top: 55px;
    padding: 10px;
    overflow-y: auto;
    
}
/* .main-open{
    margin-left: 0px;
} */


::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width: 450px){
    .main{
        min-width: 420px;
    }
}

@media screen and (min-width: 992px){
    .main-open{
        margin-left: 210px;
        transition: 0.25s ease-in-out;
    }
    
}

@media screen and (min-width: 1200px){
    /* .index{
        padding-right: 50px;
    } */
}