<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="message">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card h-100">
    <div class="card-header">
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body">
        <form class="mx-auto" [formGroup]='datosMacot' (ngSubmit)="created()">
            <div class="form-group my-3">
                <label>Cliente</label>
                <select name="Cliente" class="form-select" formControlName="cliente">
                    <option value="" disabled selected>Seleccione al dueño...</option>
                    <option *ngFor="let cliente of clientes;"  [value]="cliente.id">
                        {{cliente.Nombres }} _ {{cliente.Email}} _ {{cliente.Celular}}
                    </option>
                </select>
            </div>
            <div class="form-group my-3">
                <label>Nombre</label>
                <input type="text" class="form-control text" formControlName="Nombres">
            </div>
            <div class="row my-3">
                <div class="col-sm-6">
                    <div class="form-group bmd-form-group is-filled">
                        <label class="required bmd-label-static">Especie</label>
                        <select  name="Especie" class="form-select" formControlName="Especie">
                            <option value="" disabled selected>Seleccione una especie...</option>
                            <option *ngFor="let especie of Especies;"  [value]="especie">{{ especie }}</option>
                        </select>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label>Sexo</label>
                        <select name="Sexo" class="form-select"  aria-selected="true" formControlName="Sexo">
                            <option value="" disabled selected>Seleccione un genero...</option>
                            <option  *ngFor="let genero of Generos;"  [value]="genero">{{ genero }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="d-flex">
                <button  type="submit" class="btn btn-cyan mx-auto">
                    <app-loader [size]="'24px'" *ngIf="sendMascot"></app-loader>
                    <span *ngIf="!sendMascot">Guardar</span> 
                </button>
            </div>
        </form>
    </div>
</div>