<nav class="navbar py-0 navbar-dark pr-4">
    <ul class="navbar-nav icon-nav">
        <li class="nav-item text-center icon-sidenav" (click)="sidenav()"
            [ngClass]="stateSidenav ? 'open-sidenav' : 'closed-sidenav'">
            <i class="fas fa-angle-double-right" [@iconOpenClose]="stateSidenav ? 'open' : 'closed'"></i>
        </li>
    </ul>
    <ul class="navbar-nav pl-4 mr-auto py-2">
        <li class="nav-item dropdown d-none d-lg-inline-block">
            <button class="btn btn-outline-light btn-sm hint--right" id="addDropdown"
                data-toggle="dropdown" data-disabled="true" aria-haspopup="true" aria-expanded="false"
                data-title="Accesos Rapidos">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <span class="ml-2">Agregar</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="addDropdown">
                <h6 class="dropdown-header">¿Qué desea agregar?</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['./citas-programadas/nueva-cita']">
                    Nueva cita
                </a>
                <a class="dropdown-item" [routerLink]="['./mascotas/nueva-visita']">
                    Nueva visita
                </a>
                <a class="dropdown-item" [routerLink]="['./clientes/nuevo-cliente']">
                    Nuevo Cliente
                </a>
                <a class="dropdown-item" [routerLink]="['./mascotas/nueva-mascota']">
                    Nueva Mascota
                </a>
                <div class="dropdown-divider"></div>
                <label style="color:steelblue" class="ml-1">Inventario</label>
                <a class="dropdown-item" [routerLink]="['./inventario/nuevo-producto']">
                    Nuevo Producto
                </a>
                <a class="dropdown-item" [routerLink]="['./proveedor/nuevo-proveedor']">
                    Nuevo proveedor
                </a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto py-2">
        <!-- <li class="nav-item">
            <a class="nav-link mr-lg-2" data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="Cajas Registradoras">
                <i class="fas fa-cash-register fa-lg" aria-hidden="true"></i>
                <span class="ml-2">Caja</span>
            </a>
        </li> -->
        <li class="nav-item mx-2" routerLinkActive="active" [routerLink]="['./ventas/nueva-venta']">
            <a class="nav-link mr-lg-2" data-toggle="tooltip" data-placement="bottom" data-title="Realizar nueva venta"
                data-original-title=" Nueva  Venta">
                <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i>
                <span class="ml-2">Venta</span>
            </a>
        </li>
        <li class="nav-item mx-2 d-flex " style="cursor: pointer;" routerLinkActive="active" [routerLink]="['./perfil']">
            <a class="nav-link mr-2" data-toggle="tooltip" data-placement="bottom" data-title="Micuenta">
                <i class="fa fa-user-md fa-lg" aria-hidden="true"></i>
                <span class="ml-2">{{ nameUser }}</span>
            </a>
        </li>
        <li class="nav-item mx-2" (click)="logout()" data-title="Cerrar sesion y salir del sistema">
            <a class="nav-link" data-toggle="modal" data-target="#exitModal">
                <i class="fa fa-fw fa-sign-out-alt" aria-hidden="true"></i>SALIR
            </a>
        </li>
    </ul>
</nav>