.navbar {
    position: fixed;
    flex-flow: wrap-reverse;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #1e2741!important;
    box-shadow: 0 0.5rem 1rem #00000046;
}

.navbar-nav {
    flex-direction: row;
    .nav-item{
        &.active>*{
            color: #fff;
            border: none;
        }
        &:focus{
            outline: none;
        }
    }
    
    
}


/* trigger('iconOpenClose',[
        state('open', style({
            transform: 'rotateZ(180deg)',
        })),
        state('closed', style({
            transform: 'rotateZ(0deg)',
        })),
        transition("* => *", animate(400))
    ]) */

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.icon-nav{
    height: 55px;
    &:hover{
        background-color: #060e276f;
    }
}
.dropdown-item{
    font-size: 17px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    &:hover{
        background-color: #0084ff;
        color: white;
    }
}
.icon-sidenav{
    color: white;
    display: flex;
    align-items: center;
    margin: 0px;
}
.fa-angle-double-right{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.open-sidenav{
    width: 260px;
    transition: 0.5s;
}
.closed-sidenav{
    width: 50px;
    transition: 0.3s;
}
.dropdown-menu{
    position: absolute;
    border: none;
}
@media screen and (max-width: 600px){
    .open-sidenav{
        width: 50px;
        transition: 0.5s;
    }
}


@media screen and (min-width: 601px) and (max-width: 700px){
    .open-sidenav{
        width: 180px;
        transition: 0.5s;
    }
}