.navbar {
    position: fixed;
    flex-flow: wrap-reverse;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    //background-color: #1e2741!important;
    background: rgb(0, 74, 109);
    background: linear-gradient(190deg, rgba(0, 74, 109, 1) 29%, rgba(13, 115, 127, 1) 60%, rgba(1, 69, 88, 1) 80%);

    
    box-shadow: 0 0.2rem 0.4rem #00000046;
}

.navbar-nav {
    flex-direction: row;
    .nav-item {
        &>*{
            color: white;
        }
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        &:hover{
            transform: translateY(-2px);
        }
        &.active>*{
            color: cyan;
            border: none;
        }
        &:focus {
            outline: none;
        }
        button:hover > * {
            color: black !important;
        }
    }
}

// .nav-item{
//     margin-left: 5px;
//     margin-right: 5px;
//     cursor: pointer;
//     &:hover>*{
//         color: cyan;
//     }
// }
.icon-nav {
    height: 55px;
    &:hover {
        background-color: #060e276f;
    }
}
.dropdown-item {
    font-size: 17px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    &:hover {
        background-color: #0084ff;
        color: white;
    }
}
.icon-sidenav {
    color: white;
    display: flex;
    align-items: center;
    margin: 0px;
}
.fa-angle-double-right {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.open-sidenav {
    width: 250px;
    transition: 0.5s;
}
.closed-sidenav {
    width: 40px;
    transition: 0.3s;
}
.dropdown-menu {
    box-shadow: 0 0 1em black;
    position: absolute;
    border: none;
}
@media screen and (max-width: 600px) {
    .open-sidenav {
        width: 50px;
        transition: 0.5s;
    }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
    .open-sidenav {
        width: 180px;
        transition: 0.5s;
    }
}
