<app-opcionclientes></app-opcionclientes>
<div class="client">
  <app-buscarcliente></app-buscarcliente>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{titleList}}</h4>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>deuda</th>
            <th>opcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let cliente of  clientes; index as i'>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ cliente.nombre}}</td>
            <td>{{ cliente.direccion}}</td>
            <td>{{ cliente.telefono}}</td>
            <td>{{ cliente.deuda}}</td>
            <td >
              <div class="d-flex">
                <button type="submit" class="btn btn-dark mx-1">Ver</button>
                <button type="submit" class="btn btn-dark mx-1">Editar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      este ees el footer
    </div>
  </div>
  <app-agregar></app-agregar>
</div>
