.card{
    border: none;
    contain: content;
    .card-header{
        background-color: #005c5ccb!important;
        color: white;
        text-align: center;
    }
    .card-body{
        overflow-x: auto;
    }
}
.table{
    min-width: 700px;
    --bs-table-bg: #00888852;
    --bs-table-striped-bg: #005c5c2d;
    --bs-table-striped-color: black;
    // --bs-table-active-bg: #484e53;
    // --bs-table-active-color: #fff;
    // --bs-table-hover-bg: #43494e;
    // --bs-table-hover-color: #fff;
    color: #000000;
    border-color: #484e53;
    thead{
        --bs-table-bg: #1e2741;
        color: rgb(0, 247, 255);
        tr th:first-child{
            width: 20px;
        }
        tr th:last-child{
            width: 130px;
        }
    }
}   
::-webkit-scrollbar{
    --display: none;
}
@media screen and (min-width: 1200px){
    .client{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}
