.alert{
    margin: 1em 0!important;
    box-shadow: 0 0 1em black;
}
.card{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 2px #444444;
    .card-header{
        border-radius: 10px 10px 0 0;
        background-color: darkcyan;
        color: #fff;
    }
    .card-body{
        border-radius: 10px;
        fieldset{
            border-radius: 7px;
            border-width: 2px;
            border-style: groove;
            border-color: cyan;
            border-image: initial;
        }
    }
    .card-footer{
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
legend {
    float: unset;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.btn{
    box-shadow: 0 1px 2px #444444;
    &:hover{
        transform: translateY(-2px);
    }
}
.alert{
    margin-bottom: 5px;
}
.modal{
    background-color: rgba(0, 0, 0, 0.6);
}

.total{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.form-control, .form-select{
    color: #000000;
    font-size: 20px;
    border-color: #17a2b8;
    &:focus {
        background-color: white;
        box-shadow: 0 0 0 0.2rem #17a2b8;
        transition: 0.2s;
    }
}

@media screen and (min-width: 992px){
    /* .card-body{
        padding-right: 5%;
        padding-left: 5%;
    } */
}