<img src="assets/images/weather.jpg" alt="" srcset="">
<div class="weather">
    <div class="weather-text">
        <div class="d-flex align-items-center justify-content-center h-100">
            <h2>weather</h2>
        </div>
    </div>
    <div class="weather-content">
        <div class="d-flex align-items-center justify-content-end mb-2">
            <h3 class="mx-3">CUSCO</h3>
            <h6 class="mx-3">{{ fecha }}</h6>
            <h5 class="mx-3 d-flex">
                {{ hora }}
                <span class="second">{{second}}</span>
            </h5>
        </div>
        <div class="content">
            <section class="text-center">
                <h6 style="width: max-content;">Temperatusra minima</h6>
                <h5>{{city.main.temp_min}} °c</h5>
            </section>
            <section class="info-temp">
                <h6 class="temp">{{city.main.temp }}</h6>
                <h5 class="grados">°C</h5>
            </section>
            <section class="text-center">
                <h6 style="width: max-content;">Temperatura maxima</h6>
                <h5>{{city.main.temp_max}} °c</h5>
            </section>
        </div>
        <div class="more-description">
            <div class="mx-auto">
                <h6 class="d-block">Sensacion Termica</h6>
                <h5>{{city.main.feels_like}} °c</h5>
            </div>
            <div class="mx-auto">
                <h6 class="d-block">Descripcion</h6>
                <h5>{{city.weather[0].description}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="bucket">
    <div class="row">
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card text-white h-100" style="background-color: #5c4d42;">
                <div class="card-header">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mr-auto">
                        <h1 style="font-size: 4em;">{{ countVisita}}</h1>
                        <h3 style="font-size:3em;">visitas</h3><br>
                    </div>
                </div><br>
                <div class="card-footer text-white">
                    Actualmente existen {{ countVisita }} visitas registrados en el sistema
                    <button class="btn btn-outline-light btn-block" [routerLink]="['../mascotas/lista-visitas']">Ver lista</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-header">
                    <div class="card-body-icon">
                        <i class="fal fa-fw fa-users" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mr-auto">
                        <h1 style="font-size: 4em;">{{ countClient }}</h1>
                        <h3 style="font-size:3em">clientes</h3><br>
                    </div>
                </div><br>
                <div class="card-footer text-white">
                    Actualmente existen {{ countClient }} clientes registrados en el sistema
                    <button class="btn btn-outline-light btn-block" [routerLink]="['../clientes/lista']">Ver lista</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="card text-white bg-dark o-hidden h-100">
                <div class="card-header">
                    <div class="card-body-icon">
                        <i class="fal fa-fw fa-paw" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mr-auto">
                        <h1 style="font-size: 4em;">{{ countMascot }}</h1>
                        <h3 style="font-size:3em">mascotas</h3>
                    </div>
                </div><br>
                <div class="card-footer text-white">
                    Actualmente existen {{ countMascot }} mascotas registrados en el sistema
                    <button class="btn btn-outline-light btn-block" [routerLink]="['../mascotas/lista']">Ver lista</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="square"></div>

