.card{
    .card-header{
        background-color: #57473d;
        color: white;
    }
    .card-body{
        background-color: #f0d7c8;
    }
    .card-footer{
        background-color: #57473d;
    }
    &:hover{
        background-color: #57473d;
        
    }
}
.result{
    color: #005c5c;
}
.modal{
    background-color: #0000008a;
    .modal-dialog {
        background-color: bisque;
        .modal-content {
            border: none;
            .modal-header{
                background-color: #856d5f;
                color: white;
            }
        }
    }
    
    
}