<div class="alert alert-info alert-dismissible fade show mt-2" role="alert" *ngIf="message">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row">
    <div class="col-md-6 mb-4" *ngFor="let user of users; index as i">
        <app-usuario [user]="user" [i]="i" (emitMessage)="messageUser($event)"></app-usuario>
    </div>
</div>

<!-- delete user -->
