<div class="alert alert-info alert-dismissible fade show mt-2" role="alert" *ngIf="message">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card h-100">
    <div class="card-header">
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body">
        <form class="mx-auto" [formGroup]='createdForm' (ngSubmit)="created()">
            <div class="form-group my-3">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="Nombre">
            </div>
            <div class="form-group my-3">
                <label>Descripcion</label>
                <input type="text" class="form-control" formControlName="Descripcion">
            </div>
            <br>
            <div class="d-flex">
                <button  type="submit" class="btn btn-primary mx-auto">Guardar</button>
            </div>
        </form>
    </div>
</div>