<div class="more">
    <button class="btn btn-dark mx-1 ml-auto" routerLinkActive="active" [routerLink]="['lista']">
        <label>lista de mascotas</label>
    </button>
    <button class="btn btn-success mx-1" routerLinkActive="active" [routerLink]="['visita']">
        <label>Nueva visita</label>
    </button>
    <button class="btn btn-cyan mx-1" routerLinkActive="active" [routerLink]="['agregar']">
        <label>Nueva mascota</label>
    </button>
    <button class="btn btn-primary mx-1" routerLinkActive="active" [routerLink]="['lista-visitas']">
        <label>listado de visitas</label>
    </button>
    <button class="btn btn-brown mx-1" routerLinkActive="active" [routerLink]="['guarderia']">
        <label>Guarderia</label>
    </button>
</div>