
.btn.active{
    label{                   
        animation-duration: 1s;
        animation-name: selectButton;
        text-transform: uppercase;
        border-bottom: 1px solid white;
    }
}
label{
    padding: 0%;
    margin: 0%;
}
button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.more{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    overflow-x: auto;
    background-color: #cccccc;
    border-radius: 5px 5px 0 0;
    padding: 1rem 0.5rem;
}
  
@keyframes selectButton {
    from{
        transform: scale3d(0.8,0.8,0.8);
    }
    to{
        transform: scale3d(1.03,1.03,1.03);
    }
}