.card{
    border: none;
    width: 100%;
    .card-header{
        background-color: #48515a!important;
        color: white;
        text-align: center;
    }
    .card-body{
        overflow-x: auto;
    }
}

::-webkit-scrollbar {     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */  /* Ocultar scroll */
}

@media screen and (min-width: 1200px){
}