<div class="card">
    <div class="card-header">
      <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Mascota</th>
            <th>Celular</th>
            <th>Tipo</th>
            <th>Dia</th>
            <th>Hora</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{cita.cliente.Nombres}}</td>
            <td>{{cita.mascota.Nombres}}</td>
            <td>{{cita.cliente.Celular}}</td>
            <td>{{cita.Tipo}}</td>
            <td>{{cita.Dia}}</td>
            <td>{{cita.Hora}}</td>
            <td>
              <button class="btn btn-cyan">ojear</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      fooootegbj
    </div>
  </div>