.alert{
    margin: 1em 0!important;
    box-shadow: 0 0 1em black;
}
.card{
    border: none;
    width: 100%;
    box-shadow: 0 1px 2px #444444;
    border-radius: 10px;
    .card-header{
        background-color: #48515a!important;
        color: white;
        text-align: center;
        box-shadow: 0 1px 2px #444444;
        border-radius: 10px 10px 0 0; 
    }
    .card-body{
        overflow-x: auto;
        box-shadow: 0 1px 2px #444444;
    }
}

::-webkit-scrollbar {     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */  /* Ocultar scroll */
}

@media screen and (min-width: 1200px){
}