<div class="card">
    <div class="card-header">
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body">
        <form class="mx-auto" name="absc" method="get">
            <p class="mb-0 pb-0 mt-2">Busqueda por nombre</p>
            <hr>
            <div class="form-group">
                <input type="text" 
                    placeholder="Ingrese nombre de la mascota" class="form-control"
                    class="form-control" [(ngModel)]='nombre' 
                    [ngModelOptions]="{standalone: true}" 
                    (keyup)='changeInput($event)'>
            </div>
            <hr><br>
            <p class="d-flex align-items-center" *ngIf="nombre"><app-loader [size]="'20px'"></app-loader>Buscando a:  <strong class="ml-3"> {{ nombre }}</strong> ...</p>
        </form>
    </div>
</div>