.card{
    border: none;
    height: 100%;
    .card-header{
        background-color: #48515a!important;
        color: white;
        text-align: center;
    }
    .card-body{
        background-color: #00888833;
        form{
            width: 90%;
        } 
    }
}

.form-control{
    color: #000000;
    font-size: 20px;
    border-color: #17a2b8;
    &:focus {
        background-color: white;
        box-shadow: 0 0 0 0.2rem #17a2b8;
        transition: 0.5s;
    }
}
