<app-opcionmascotas></app-opcionmascotas>
<div class="client">
  <app-buscarmascota></app-buscarmascota>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{titleList}}</h4>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nro historia</th>
            <th>dueño</th>
            <th>nombres</th>
            <th>especie</th>
            <th>sexo</th>
            <th>accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let mascota of  mascotas; index as i'>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ mascota.id_historia}}</td>
            <td>{{ mascota.duenio}}</td>
            <td>{{ mascota.nombre}}</td>
            <td>{{ mascota.especie}}</td>
            <td>{{ mascota.sexo}}</td>
            <td>
              <button type="submit" class="btn btn-dark">Ver detalles</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      footer
    </div>
  </div>
</div>