.navbar{
    background-color: #cccccc;
    border-radius: 5px 5px 0 0;
    display: block;
    ul{
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }
}

.card{
    border: none;
    .card-header{
        background-color: #005c5ccb!important;
        color: white;
        text-align: center;
    }
}
.table{
    --bs-table-bg: #00888852;
    --bs-table-striped-bg: #005c5c2d;
    --bs-table-striped-color: black;
    // --bs-table-active-bg: #484e53;
    // --bs-table-active-color: #fff;
    // --bs-table-hover-bg: #43494e;
    // --bs-table-hover-color: #fff;
    color: #000000;
    border-color: #484e53;
    thead{
        --bs-table-bg: #1e2741;
        color: rgb(0, 247, 255);
    }
    tbody tr th{
        width: 20px;;
    }
}   

@media screen and (min-width: 1200px){
    .client{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}
