.detailsMacot{
    display: block;
}
.mascotadetails, .mascota{
    width: 100%;
}

.modalEdit, .modalDelete{
    background-color: rgba(0, 0, 0, 0.85);
    .modal-dialog .modal-content{
        .modal-header{
            color: black;
        }
        .modal-body{
            padding: 0% 1rem;
        }
    }
}

.btn:hover{
    //text-decoration: underline;
    transform: translateY(-5px);
    transition: 200ms ease-in-out;
}
label{
    font-size: 18px;
    color: #181818;
}
.modalEdit .modal-dialog .modal-content .modal-header{
    background-color: #054664;
    color: white;
}
.form-control{
    color: #054664;
    border-color: #0d5d81;
    font-size: 20px;
    &:focus {
        background-color: white;
        box-shadow: 0 0 0 0.1rem #116891;
        transition: 0.2s;
    }
}


.card{
    border: none;
    box-shadow: 0 1px 2px #444444;
    border-radius: 10px;
    .card-header{
        background-color: #48515a!important;
        color: white;
        text-align: center;
        border-radius: 10px 10px 0 0;     }
    .card-body{
        table tbody tr th{
            padding-left: 1.5rem;
        }
        .container .row-1, .row-3, .row-5, .row-7{
            background-color: #ebebeb;
        }
    }
}

.btn-info, .btn-danger, .btn-success, .btn-primary{
    width: 150px;
    box-shadow: 0 1px 2px #444444;

}


.list-group{
    flex-direction: row;
}
.btn-group{
    width: 100%;
}
.btn-secondary.active {
    background-color: #40484e;
    transform: translateY(2px) scaleY(1.07);

}

table{
    min-width: auto;
    thead{
        background-color: #272d31;
    }
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    box-shadow: none;
}


@media screen and (min-width: 950px){
    .detailsMacot{
        display: grid;
        grid-template-columns: 5fr 4fr;
    }
    .mascotadetails{
        padding-left: 1rem;
    }
    .mascota{
        padding-right: 1rem;
    }
}
