.footer{
    text-align: center;
    background: linear-gradient(190deg, rgba(0, 74, 109, 1) 29%, rgba(13, 115, 127, 1) 60%, rgba(1, 69, 88, 1) 80%);
    color: #fff;
    padding: 5rem 0rem;
    margin-top: 4rem;
}