<div class="footer">
    <h1>titulo footer</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsa laborum ipsum? Quaerat obcaecati hic
        veritatis adipisci et. Earum, repellat eos quam expedita nostrum deserunt saepe nemo dolorum tempore ipsam!</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe excepturi quos officiis ullam accusantium sit
        iste placeat obcaecati eius! Eligendi cupiditate dignissimos laudantium tenetur eaque eum, debitis sint eos
        iure!</p>
</div>