<app-navbar></app-navbar>
<app-home></app-home>
<div class="card" @signin>
  <div class="card-header">
    <h4 class="card-title">Iniciar sesion</h4>
  </div>
  <div class="card-body">
    <form [formGroup]='signinForm' (ngSubmit)="signin()">
      <div class="text-center">
        <i class="fal fa-fw fa-user" aria-hidden="true" style="font-size: 8rem;"></i>
      </div>
      <br>
      <div class="form-inline">
        <h5>Usuario</h5>
        <input class="form-control" formControlName='Email' type="text" #email>
      </div>
      <br>
      <div class="form-inline">
        <h5>Contraseña</h5>
        <input class="form-control" formControlName='Password' type="password" #password>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark btn-block">Iniciar</button>
        <br>
        <hr><br>
        <a href="#" class="mr-auto mt-3" style="text-decoration: none;">Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>
</div>