<app-navbar></app-navbar>
<app-home></app-home>
<div class="signin">
  <div class="card" @signin>
    <div class="card-header">
      <h4 class="card-title"><i class="fal fa-fw fa-user" aria-hidden="true"></i>Iniciar sesion</h4>
    </div>
    <div class="card-body pt-4">
      <form [formGroup]='signinForm' (ngSubmit)="signin()">
        <div class="form-group">
          <h5 class="mb-2">Correo Electronico</h5>
          <input class="form-control" formControlName='Email' type="text" #email>
        </div>
        <br>
        <div class="form-group">
          <h5 class="mb-2">Contraseña</h5>
          <input class="form-control" formControlName='Password' type="password" #password>
        </div>
        <button type="submit" class="btn btn-light btn-block mt-4" #btnSend>
          <div class="spinner-border" role="status" *ngIf="sendDates">
          </div>
          <span class="mx-4" *ngIf="!sendDates">INICIAR</span>
        </button>
        
      </form>
    </div>
    <div class="card-footer">
      <a href="#">Olvidaste tu contraseña?</a>
    </div>
  </div>
</div>