<div class="card h-100">
    <div class="card-header">
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body">
        <form class="mx-auto" name="absc" method="get">
            <div class="card-text">
                <div class="form-group bmd-form-group">
                    <label for="absc_name" class="bmd-label-static">Tipo de cita</label>
                    <select name="" id="" class="form-select">
                        <option value=""></option>
                        <option value="17">Análisis de sangre</option>
                        <option value="3">Baño</option>
                        <option value="2">Cirugía</option>
                        <option value="18">Consulta especialidad</option>
                        <option value="0">Consulta general</option>
                        <option value="19">Control especialidad</option>
                        <option value="13">Control general</option>
                        <option value="16">Consulta cardiológica prequirúrgica</option>
                        <option value="4">Corte</option>
                        <option value="6">Corte sanitario</option>
                        <option value="15">Ecografía</option>
                        <option value="10">Guardería</option>
                        <option value="5">Limpieza de dientes</option>
                        <option value="9">Otros Estética</option>
                        <option value="14">Radiografía</option>
                        <option value="11">Tratamiento periodontal de rutina</option>
                        <option value="12">Vacuna</option>
                        <option value="1">Web</option>
                    </select>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-block btn-raised btn-outline-info">Buscar</button>
        </form>
    </div>
</div>