.detailsClient{
    display: block;
}
.cliente, .mascota{
    width: 100%;
}

.modalEdit, .modalDelete{
    background-color: rgba(0, 0, 0, 0.85);
    .modal-dialog .modal-content{
        background-color: rgb(0, 167, 167);
        .modal-header{
            color: black;
        }
        .modal-body{
            padding: 0rem 1rem;
        }
    }
}
.btn{
    width: 150px;
    &:hover{
        box-shadow: 0 0 0.2rem 0.2rem hsla(0, 0%, 0%, 0.3);
        border: 1px solid black;
        transition: 200ms ease-in-out;
    }
}
label{
    font-size: 18px;
    color: #181818;
}

.form-control{
    color: #004400;
    font-size: 20px;
    &:focus {
        background-color: white;
        border-color: white;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.7);
        outline: 0;
        transition: 0.1s;
    }
}
@media screen and (min-width: 950px){
    .detailsClient{
        display: grid;
        grid-template-columns: 5fr 3fr;
    }
    .cliente{
        padding-right: 1rem;
    }
    .mascota{
        padding-left: 1rem;
    }
}