.detailsClient{
    display: block;
}
.cliente, .mascota{
    width: 100%;
}

.modalEdit, .modalDelete{
    background-color: rgba(0, 0, 0, 0.85);
    .modal-dialog .modal-content{
        .modal-header{
            color: black;
        }
        .modal-body{
            padding: 0rem 1rem;
        }
    }
}
.modalEdit .modal-dialog .modal-content .modal-header{
    background-color: #004400;
    color: white;
}
.btn{
    width: 150px;
    &:hover{
        transform: translateY(-5px);
        transition: 200ms ease-in-out;
    }
}
label{
    font-size: 18px;
    color: #181818;
}

.form-control{
    color: #004400;
    border-color: #004400;
    font-size: 20px;
    &:focus {
        background-color: white;
        box-shadow: 0 0 0 0.2rem #168a16;
        transition: 0.2s;
    }
}

@media screen and (min-width: 950px){
    .detailsClient{
        display: grid;
        grid-template-columns: 5fr 3fr;
    }
    .cliente{
        padding-right: 1rem;
    }
    .mascota{
        padding-left: 1rem;
    }
}