<div class="card mt-2">
    <div class="card-header bg-primary text-white text-center">
        <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Motivo</th>
                    <th>Cliente</th>
                    <th>Mascota</th>
                    <th>Costo</th>
                    <th>Esta pagado</th>
                    <th>Opcion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let visita of  visitas; index as i'>
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ visita.Motivo}}</td>
                    <td>{{ visita.cliente.Nombres}}</td>
                    <td>{{ visita.mascota.Nombres}}</td>
                    <td>{{ visita.Costo}}</td>
                    <td>{{ visita.EstaPagado}}</td>
                    <td>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary">
                                <i _ngcontent-uhn-c58="" aria-hidden="true" class="fa fa-eye mr-2"></i>
                                Ver
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-info">
        Se muestran la lista de todos los clientes registrados en el sistema ordenados de manera alfabetica por el nombre
      </div>
</div>