/* You can add global styles to this file, and also import other style files */

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.modal-backdrop {
  position: unset;
  background: none;
}

body{
  padding: 0px;
  margin: 0px;
  background-color: #fdf1be;
}