<div class="more">
    <button class="btn btn-dark mx-1 ml-auto" routerLinkActive="active" [routerLink]="['lista']">
        <label>lista de productos</label>
    </button>
    <button class="btn btn-success mx-1" routerLinkActive="active" [routerLink]="['productos-por-proveedor']">
        <label>lista por proveedor</label>
    </button>
    <button class="btn btn-cyan mx-1" routerLinkActive="active" [routerLink]="['productos-por-categoria']">
        <label>lista por categoria</label>
    </button>
    <button class="btn"></button>
    <button class="btn btn-brown mx-1" routerLinkActive="active" [routerLink]="['nuevo-producto']">
        <label>Nuevo producto</label>
    </button>
    <button class="btn"></button>
    <button class="btn btn-primary mx-1" routerLinkActive="active" [routerLink]="['nueva-categoria']">
        <label>Nueva categoria</label>
    </button>
</div>