<!-- Modal -->
<div class="alert alert-info alert-dismissible fade show mt-2" role="alert" *ngIf="message">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel " data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="image1 carousel-item active">
    </div>
    <div class="image2 carousel-item">
    </div>
    <div class="image3 carousel-item">
    </div>
    <div class="image4 carousel-item">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>