.image1{
    background: linear-gradient(to top, #0e6b8886 10%, #00556e 90%), url('../../../assets/images/landing1.jpg');
}
//#5c4d4281 10%, #5c4d42
.image2{
    background: linear-gradient(to top, #5c4d4281 10%, #5c4d42  90%), url('../../../assets/images/landing2.jpg');
}

.image3{
    background: linear-gradient(to top, #291c4d8f 10%, #0a0f52 90%), url('../../../assets/images/landing3.jpg');
}

.image4{
    background: linear-gradient(to top, #4d321c7e 10%, #833f00 90%), url('../../../assets/images/landing4.jpg');
}

.image1, .image2, .image3, .image4{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.carousel-item{
    height: 700px;
}


.carousel-indicators {
    li{
        width: 10px;
        height: 10px;
        color: #fff;
        border-radius: 50%;
    }
    
    .active{
        background-color: #000;
        color: #fff;
    }
}

.alert{
    position: fixed;
    z-index: 85;
    top: 20vh;
    box-shadow: 0 0 1em black;
    right: 0px;
    background-color: darkcyan;
    border-color: darkcyan;
    color: white;
    strong{
        color: white;
    }
    &:hover{
        background-color: white;
        strong{
            color: black!important;
        }
        
    }
}


@media screen and (max-width: 576px){
    .carousel-control-prev-icon, .carousel-control-next-icon{
        opacity: 0.1;
    }
}

