<!-- <app-message *ngIf="message" [messageDate]="messageDate"></app-message> -->
<div class="card">
    <div class="card-header bg-dark text-center text-white">
      <h4 class="card-title">{{title}}</h4>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>P. de venta</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Proveedor</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let producto of  productos; index as i'>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ producto.Nombre }}</td>
            <td>{{ producto.Codigo }}</td>
            <td>{{ producto.Particulo }}</td>
            <td>{{ producto.Stock }}</td>
            <td>{{ producto.categoria.Nombre }}</td>
            <td>{{ producto.proveedor.Nombre }}</td>
            <td>
              <div class="d-flex">
                <button type="submit" class="btn btn-dark">Ver detalles</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-info">
      Se muestran la lista de todos los productos registrados en el sistema ordenados de manera alfabetica por el nombre
    </div>
  </div>