<div class="card">
    <div class="card-header">
        <h4 class="card-title">Búsqueda</h4>
    </div>
    <div class="card-body">
        <form class="mx-auto" name="form" method="get">
            <div class="form-group">
                <label for="form_range">Periodo</label>
                <select id="form_range" name="form[range]" required="required" class="form-select">
                    <option value="">Seleccione un rango</option>
                    <option value="1">Ayer</option>
                    <option value="2">Hoy</option>
                    <option value="3">Mañana</option>
                    <option value="4">Semana Pasada</option>
                    <option value="5" selected="selected">Esta Semana</option>
                    <option value="6">Próxima Semana</option>
                    <option value="7">Mes Pasado</option>
                    <option value="8">Este Mes</option>
                    <option value="9">Próximo Mes</option>
                </select>
            </div>
            <div class="form-group">
                <label for="form_start" >Fecha desde</label>
                <input type="datetime-local" id="form_start" name="form[start]" required="required" class="form-control">
            </div>
            <div class="form-group">
                <label for="form_end" >Fecha hasta</label>
                <input type="datetime-local" id="form_end" name="form[end]" required="required" class="form-control">
            </div>
            <br>
            <button type="submit" class="btn btn-block btn-raised btn-outline-info">Buscar</button>
        </form>
    </div>
</div>